
<h1><%= @user.username %></h1>

<% if current_user == @user %>
  <p>Hi <%= @user.username %>, you are currently logged in</p>
  <h2>Check out your events:</h2>
<% else %>
  <p>You are viewing <%= @user.username %>'s profile</p>
  <h2>Check out <%= @user.username %>'s events:</h2>
  <!-- create a list of all a user's events -->
<% end %>
  
<ul>
  <% @user.hosted_events.each do |event| %>
    <li><%= link_to event.name, event %></li>
  <% end %>
</ul>

<br>

<h2>List of upcoming events</h2>
<ul>
  <% @user.attended_events.upcoming.each do |event| %>
    <li><%= link_to event.name, event %></li>
  <% end %>
</ul>

<h2>List of attended events</h2>
<ul>
  <% @user.attended_events.previous.each do |event| %>
    <li><%= link_to event.name, event %></li>
  <% end %>
</ul>