
<h1><%= @event.name %></h1>

<h2>About this event</h2>

<p>Date: <%= @event.date %></p>

<p>Host: <%=link_to @event.host.username, user_path(id: @event.host) %></p>

<p>Description: <%= @event.description %></p>

<!-- invite new users part -->
<% if current_user == @event.host %>
  <h2>Invite people:</h2>
  <p>...</p>
  <%= form_with model: @invitation do |form| %>
        <div>
            <%= form.label :username %><br>
            <%= form.text_field :username %><br>

            <%= form.hidden_field :event_id, :value => @event.id %>

            <%= form.submit %>
        </div>
  <% end %>
  <br>
<% end %>

<!-- invited users part -->
<h2>Who's Been Invited?</h2>
<% if @event.invitees.any? %>
  <p>Here's everyone with an invite:</p>
  <ul>
    <% @event.invitees.each do |invitee| %>
      <%= link_to invitee.username, invitee %>
    <% end %>
  </ul>
<% else %>
  <p>No one has been invited yet</p>
<% end %>

<!-- sign up part -->
<p><%=link_to "Sign up to the event!", event_registrations_path(event_id: @event.id), method: :post %></p>

<!-- list of attendees -->
<% if @event.attendees.any? %>
  <h2>Who's Coming?</h2>
  <p>Here's everyone attending:</p>
  <ul>
    <% @event.attendees.each do |attendee| %>
      <%= link_to attendee.username, attendee %>
    <% end %>
  </ul>
<% end %>


