<!DOCTYPE html>
<html>
  <head>
    <title>Eventlite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- flash message -->
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <nav>
    <p>EventLite</p>
    <%= link_to "Home", root_path %>
    <% if current_user %>
      <%= link_to current_user.username, user_path(id: current_user) %>
      <%= link_to "Logout", session_path(id: current_user), method: :delete %>
    <% else %>
      <%= link_to "Sign In", new_session_path %>
      <%= link_to "New User", new_user_path %>
    <% end %>

  </nav>


  <%= yield %>

  </body>
</html>
